<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../vuejs/vue.js"></script>
    <script src="../jQuery/jquery-3.6.0.js"></script>
    <script src="../axios.js"></script>

</head>

<body>
    <div class="header" id="index">
        <span>书城</span>
        <p :class="classobjoff">
            你好
            <a href="../html/login.html">请登录</a>
        </p>
        <p :class="classobjon">
            你好
            <span>
                {{usersname}}
            </span>
        </p>
    </div>

    <div class="filterBox" >
        <div class="content" id="filter">
            <p>分类</p>
            <ul>
                <li  v-for="item in categoriesList" @click="handleCate(item)">{{item}}</li>
            </ul>
        </div>

        
        <div class="content" id="search">
            <p>搜索</p>
            <input type="text" class="search" v-model="mytext">
        </div>
        <div class="content">
            <span class="left disable" >&lt;</span>
            <span>1 / 10</span>
            <span class="right">&gt;</span>
            <input type="text" value="1" class="page">
            <button>跳转</button>
        </div>
    </div>

    <ul class="list" id="goods">
        <li v-for="(item,index) in goodsList" @click="handleDetail(item)" >
            <div class="cover">
                <img :src="item.cover" >
            </div>
            <div class="info">
                <p class="title">{{item.name}}</p>
                <p class="price">￥ {{item.price}}</p>
                <button @click.stop="handleShopping(item)"  :value="item">加入购物车</button>
            </div>
        </li>
        
    </ul>

    <script src="../js/index.js"></script>

</body>

</html>